.fade-enter {
  opacity: 0;
  transition: opacity .3s ease-in;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity .3s ease-out;
}

.fade-exit-active {
  opacity: 0;
}