.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.3s ease;

    &:hover {
        transform: translateY(-5px) scale(1.05);
        transition: 0.3s ease;
    }
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3 ease-in-out;
    transform: translateY(10px);
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    /* transition: all .3 ease-in-out; */
    transform: translateY(0);
}