.dropbtn {
    background-color: #04AA6D;
    color: white;
    /* padding: 16px; */
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    transition: 0.2s ease;
    &:hover {
        transform: translateY(-5px) scale(1.05);
        transition: 0.2s ease;
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}